.idea/*
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/dictionaries/

.env
/data
/Resources

.DS_Store

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*